@{
    ViewBag.Title = "Capitulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Capitulo</h2>
    <div class="row">
        <!-- HTML Codes by Quackit.com -->
        <span style="font-family:Cursive;font-size:14px;font-style:normal;font-weight:normal;text-decoration:none;text-transform:none;color:000000;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit sit amet justo at cursus. Donec ullamcorper metus nulla, et varius risus mollis vel. Aliquam porta ex eu dolor luctus, sit amet suscipit nunc tempor. Vestibulum blandit dui et justo auctor euismod. Nunc commodo ipsum non maximus mattis. Maecenas consectetur, massa sit amet blandit sodales, est justo pellentesque dolor, at laoreet neque erat ut quam. Pellentesque in tellus lectus.

            Ut eu erat sit amet lorem luctus hendrerit. Fusce sit amet malesuada nibh, quis eleifend mauris. Nunc mollis id eros malesuada rhoncus. Aenean varius euismod imperdiet. Mauris orci neque, aliquet et blandit a, imperdiet at turpis. Nulla posuere consectetur gravida. Fusce eget lobortis metus, id tempor leo. Sed hendrerit et nisl sit amet gravida.

            Sed suscipit sem non mattis molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque et magna in eros viverra iaculis nec nec ipsum. Curabitur eu quam nisl. Pellentesque quis accumsan justo. Pellentesque faucibus eros sem, eget laoreet ante varius a. Suspendisse iaculis, ipsum quis molestie facilisis, erat ante euismod lorem, in fringilla nisl sapien ac purus. Morbi aliquam sapien massa, in facilisis felis sodales a. Phasellus in egestas ex. Ut interdum sapien sapien, vitae fringilla orci sollicitudin eget. Praesent volutpat massa sed sem fermentum molestie sit amet ut velit. Maecenas nulla purus, pretium ac semper vitae, pellentesque id mauris. Donec congue vel elit in consectetur. Sed vitae vestibulum leo, in posuere massa
        </span>

    </div>
</div>