@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Navbar goes here -->
<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m8 l9">
        @Html.Partial("_LastPost")        

    </div>


    <div class="col s12 m4 l3">
        Barra lateral

    </div>


</div>
