@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">

    <div class="col s12 m8 l9">
        @Html.Action("GetLastPost", "Inicio")
    </div>


    <div class="col s12 m4 l3">

    </div>


</div>*@
<div class="container">
    @Html.Action("GetLastPost", "Inicio")
</div>