<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Acerca de ECA</h5>
            <p class="grey-text text-lighten-4">ECA es la academia virtual de los desarrolladores de ennovva.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links de la semana</h5>
            <ul>
                <li><a class="blue-grey-text text-lighten-1" href="#!">Genbetadev</a></li>
                <li><a class="blue-grey-text text-lighten-1" href="#!">stack overflow</a></li>
                <li><a class="blue-grey-text text-lighten-1" href="#!">platzi.com</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container blue-grey-text text-lighten-1">
        © 2015 Desarrollado por ennova
    </div>
</div>
