<div class="content">
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="http://ionicframework.com/img/homepage/ionicview-icon_2x.png" alt="" class="circle responsive-img">
                </div>

                <div class="col s10">
                    <a class="orange-text " href="#"><h5> Aprender IONIC Desde 0</h5></a><br />
                    <span class="black-text ">
                        Publicado por : Mauro el 11/05/2015
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="http://ionicframework.com/img/homepage/ionicview-icon_2x.png" alt="" class="circle responsive-img">
                </div>

                <div class="col s10">
                    <a class="orange-text " href="#"><h5> Aprender IONIC Desde 0</h5></a><br />
                    <span class="black-text ">
                        Publicado por : Mauro el 11/05/2015
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="http://ionicframework.com/img/homepage/ionicview-icon_2x.png" alt="" class="circle responsive-img">
                </div>

                <div class="col s10">
                    <a class="orange-text " href="#"><h5> Aprender IONIC Desde 0</h5></a><br />
                    <span class="black-text ">
                        Publicado por : Mauro el 11/05/2015
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="http://ionicframework.com/img/homepage/ionicview-icon_2x.png" alt="" class="circle responsive-img">
                </div>

                <div class="col s10">
                    <a class="orange-text " href="#"><h5> Aprender IONIC Desde 0</h5></a><br />
                    <span class="black-text ">
                        Publicado por : Mauro el 11/05/2015
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>



