
.icon-block {
  padding: 0 15px;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
 
  nav .brand-logo-image{
    width:200px;
    height:70px;
}
     